.imageLoader {
  height: 390px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  transition: .2s ease-in-out;
  border: 1px dashed gray;
  text-align: center;
  position: relative;
  color: gray;
  border-radius: 7px;
  overflow: hidden;
}

.dragEnter {
  background-color: #615b5b0e;
}

.dropText {
  font-family: 'Segoe UI';
  font-weight: 300;
  font-size: 27px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.dropEnterText {
  animation: dropEnterText .5s infinite ease-out alternate;
}

@keyframes dropEnterText {
  from { opacity: 1}
  to { opacity: .5 }
}