.imageLoader {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
  border: 1px dashed gray;
  text-align: center;
  color: gray;
  border-radius: 7px;
}

.dragEnter {
  background-color: #615b5b0e;
}

.img {
  height: 80%;
  width: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
  background-color: black;
  position: relative;
  pointer-events: none;
  opacity: .7;
  z-index: 1; 
}

.text {
  font-family: 'Segoe UI';
  font-weight: 300;
  font-size: 27px;
  position: absolute;
  pointer-events: none;

}

.dropEnterText {
  animation: dropEnterText .5s infinite ease-out alternate;
}

.errorText {
  position: relative;
  display: black;
  text-align: center;
  width: 100%;
  pointer-events: none;
  /* position: absolute; */
  /* transform: translateX(3%); */
}

.triggerError {
  animation-duration: .1s;
  animation-name: showError;
  animation-iteration-count: 10;
  animation-direction: alternate; 
}

@keyframes showError {
  from { transform: translateX(-5%) }
  to { transform: translateX(5%) }
}

@keyFrames dropEnterText {
  from { opacity: 1}
  to { opacity: .5 }
}