.container {
  max-width: 1144px;
  margin: 0 auto;
  height: 100vh;
}

.loaderWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropBox {
  margin-top: 10vh;
}

.btn {
  margin-top: 15px;
}